*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;

}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
   height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    color: chocolate;
    
  

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5px;
    border: none;
    border-radius :5px;
    font-size: 8vmin;
    background-color: gold;
    color: red;
    

   
   
}
.reset{
    height: 10vmin;
    width: 20vmin;
    background-color: rgb(190, 170, 170);
    color: black;
    border-radius :2px; 
    align-items: center;
    font-size: larger;
    text-transform:capitalize ;
}
.newgame{
    height: 10vmin;
    width: 20vmin;
    background-color: rgb(190, 170, 170);
    color: black;
    border-radius :2px; 
    align-items: center;
    font-size: 2vmin;
    text-transform:capitalize ;
    font-size: larger;
    margin:50vmin;

}
#win{
    text-align: center;
    text-shadow: 2vmin;
    text-transform: capitalize;

}
.hide{
    display:none;
}